#e11_0 { 
	color:rgba(187.00000405311584, 187.00000405311584, 187.00000405311584, 1);
	opacity:1;
	width:134px;
	height:20px;
	font-family:Sansation;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}